/* #PDF-content {
  width: 768px;
  height: 550px;
  min-width: 768px; 
  max-width: 768px; 
  min-height: 550px; 
  max-height: 550px; 
  position: relative;
}

#PDF-Section {
  width: 768px;
  height: 550px;
  min-width: 768px; 
  max-width: 768px; 
  min-height: 550px; 
  max-height: 550px; 
  margin: 0 auto;
  position: absolute;
  z-index: 3;
}

#PDF-iframe {
  width: 768px;
  height: 550px;
  min-width: 768px; 
  max-width: 768px; 
  min-height: 550px; 
  max-height: 550px;  
  margin: 0 auto;
  border: 1px solid #000;
}

#Canvas-Section {
        display: none;
  width: 768px;
  height: 550px;
  min-width: 768px; 
  max-width: 768px; 
  min-height: 550px; 
  max-height: 550px; 
  margin: 0 auto;
  position: absolute;
  z-index: 6;
}
 */
