<!DOCTYPE html>
<html>
  <head>
    <title><%= main %></title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="static/stylesheets/index.css">
		<script>
			window.onload = function() { 
				var neadReload = (typeof JSON.parse(sessionStorage.getItem('log'))) == 'object' ? true : false
				if (neadReload) {
					sessionStorage.setItem('log', Date.parse(new Date()))
					location.reload()
				} else {
					sessionStorage.removeItem('log')
				}
			}
		</script>
  </head>
<body>
<div id="main">
	<!-- <iframe id="iframe" src="static/curriculum/Qooco-KB-A01"></iframe> -->
	<iframe id="iframe" src=""></iframe>
	<div class="control-box">
		<div class="container">
			<div id="prev_step" title="Previous"></div>
			<div class="encourage">
				<div id="praise" title="Praise"></div>
				<div id="like" title="Like"></div>
			</div>
			<div id="next_step" title="Next"></div>
			<button id="close_session" style="display: none;">Close Session</button>
		</div>
	</div>
  <img class="praise " src="static/images/praise.gif" alt="">
  <img class="like " src="static/images/like.gif" alt="">
  <div class="control" style="display: ;">
		<div class="buttons">
			<div style="color:red">Test control</div>
			<div>
				<button id="gotoFirstSlide">First Slide</button>
				<button id="prev_slide">Prev Slide</button>
				<button id="next_slide">Next Slide</button>
				<button id="sync">sync</button>
			</div>
		</div>
  </div>
  <div id="logger">
		<p>Console</p>
		<table>
			<tbody>
				<tr><td>Slides Count : </td><td id="slideCount"></td></tr>
				<tr><td>Index Page : </td><td id="slide_index"></td></tr>
				<tr><td>Animation Time : </td><td id="time"></td></tr>
				<tr><td>Session Time : </td><td id="end_time"></td></tr>
			</tbody>
		</table>
	</div>
</div>
<div id="Loading">Loading...</div>
<div id="Score-box" style="display: none;">
	<div class="modal">
		<div class="close-score-box"></div>
		<h4 class="modal-title">Please evaluate this student's performance</h4>

		<div class="sorce-sentence">
			<table>
				<tbody>
					<tr>
						<td>
							<div class="title">Pronunciation:</div>
						</td>
						<td>
							<div class="score pronunciation" data-type="pronunciation">
								<span class=""></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="title">Fluency:</div>
						</td>
						<td>
							<div class="score fluency" data-type="fluency">
								<span class=""></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="title">Language Usage:</div>
						</td>
						<td>
							<div class="score usage" data-type="usage">
								<span class=""></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="sorce-number">0</div>
		</div>

		<div id="score-submit">Submit Score</div>
	</div>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<!-- Ispring js -->
<script>
	/**
	* 		sessionRequestId=58d1b23d602a4a0001e66f33
	* 		sessionStartAt=1507073590164
	* 		sessionEndAt=1507679587594
	* 		lessonSlug=1072_2932_34582
	*			http://localhost:8001/teacher?sessionRequestId=58d1b23d602a4a0161e17ac6&sessionStartAt=1507073590164&sessionEndAt=1507679587594&lessonSlug=1247_4907_43490
	**/

	// var IP = 'http://192.168.0.103:8769'
	var IP = 'https://open.api.qooco.com'
	var pusher = {}
	var channel;
	var sessionStartAt = window.location.search.match(/sessionStartAt=(\S*)&sessionEndAt/)[1];
	var sessionEndAt = window.location.search.match(/sessionEndAt=(\S*)&lessonSlug/)[1];
	var sessionRequestId = window.location.search.match(/sessionRequestId=(\S*)&sessionStartAt/)[1];
	var lessonSlug = window.location.search.match(/lessonSlug=(\S*)/)[1];
	var COUNT_DOWN = 1200000
	var timeLabel = document.getElementById("time")
	var slidesCount
	var playbackController
	var isPlayedPresentation
	var ispringPresentationConnector = {}
	var pronunciation_number = 0
	var fluency_number = 0
	var usage_number = 0

	$.get(IP + '/voip-web-api/pusher/key?lessonSlug='+lessonSlug+'&sessionRequestId='+sessionRequestId, function(res){
		var status = res.status
		if (status === 200) { 
			pusher = res.data
			var pusherKey = pusher.pusherKey
			var cluster = pusher.cluster
			var channelName = pusher.channelName
			// $('#iframe').attr('src', '/static/subjects/' + pusher.lessonLevel)
			$('#iframe').attr('src', '/static/subjects/' + 'Getting started with iSpring (Web)')

			Pusher.logToConsole = true;
			var pusher = new Pusher(pusherKey, {
				cluster: cluster,
				encrypted: true,
				authTransport: 'jsonp',
				authEndpoint: IP + '/voip-web-api/pusher/auth'
			});
			channel = pusher.subscribe(channelName)
			
			// 同步处理 about 前进后退触发事件完成 。。。 学生端处理
			channel.bind('client-teacher-click', function (data) {
				var EVENT_TYPE = data
				if (EVENT_TYPE.type == 'Learner_Slide_Index') {
					var learner_slide_index = parseInt(EVENT_TYPE.slide_index, 10)
					var teacher_slide_index = parseInt($('#slide_index').text(), 10)
					$('#Loading').show()
					$('#sync').trigger('click')
					setTimeout(function() {
						$('#Loading').hide()
					}, 1000)
				}
			})

			$.post(IP + '/voip-web-api/session/start-session/'+sessionRequestId+'/from/'+sessionStartAt+'/to/'+sessionEndAt+'/slug/'+lessonSlug, function(res){
				if (res.status === 200) {
					return
				}
			})
		} else if(status === 400) {
			$('#iframe').attr('src', '')
			localStorage.clear()
			location.replace('/sessionend' + '?sessionRequestId=' + sessionRequestId + '&sessionStartAt=' + sessionStartAt + '&sessionEndAt=' + sessionEndAt + '&lessonSlug=' + lessonSlug)
		} else if(status === 401) {
			alert(res.error)
		}
	})

	// player init
	function playerInit() { 
		ispringPresentationConnector.register = function(player) {
			$('#Loading').hide()
			$('#end_time').text("Running...")
			slidesCount = player.presentation().slides().count()
			playbackController = player.view().playbackController()
			initPlaybackControllerEventsHandlers()
			initButtonsEventsHandlers(slidesCount)
			sessionCountDown()
		}
	}

	// praise 点赞
	$('#praise').on('click', function() {
		channel.trigger("client-teacher-click", {type: 'PRAISE'})
		$('.praise').css('top','50%').addClass('animated bounceIn')
		setTimeout(function() {
			$('.praise').removeClass('bounceIn').addClass('bounceOut')
		},1000)
		setTimeout(function() {
			$('.praise').css('top','-50%').removeClass('animated bounceOut')
		},1500)
	})
	// 喜欢 like
	$('#like').on('click', function() {
		channel.trigger("client-teacher-click", {type: 'LIKE'})
		$('.like').css('top','50%').addClass('animated bounceIn')
		setTimeout(function() {
			$('.like').removeClass('bounceIn').addClass('bounceOut')
		},1000)
		setTimeout(function() {
			$('.like').css('top','-50%').removeClass('animated bounceOut')
		},1500)
	})

	// 结束会话
	function ClosureSession() {
		$('#next_step').hide()
		$('#close_session').show()
		$('#Score-box').show()
		window.localStorage.removeItem('LOCAL_COUNT_DOWN')
	}

	// if ($('#slideCount').text() == $('#slide_index').text()) {
	// 	ClosureSession()
	// }

	$('#close_session').on('click', function(){
		channel.trigger("client-teacher-click", {type: 'CLOSE_SESSION'})
		$('#gotoFirstSlide').trigger("click") 
		$.post(IP + '/voip-web-api/session/complete-session/'+sessionRequestId+'/recorded-time/'+sessionStartAt, function(res){
			localStorage.clear()
			location.replace('/sessionend' + '?sessionRequestId=' + sessionRequestId + '&sessionStartAt=' + sessionStartAt + '&sessionEndAt=' + sessionEndAt + '&lessonSlug=' + lessonSlug)
		})
	})

	// player event
	// Player-SDK/documentation/js-api/ispring.presenter.player.IPresentationPlaybackController.html#playbackState
	function initPlaybackControllerEventsHandlers() {
		playbackController.slideChangeEvent().addHandler(function(slideIndex) {
			$('#slide_index').text(slideIndex + 1)
			$('#slideCount').text(slidesCount)
		})
	
		playbackController.clock().tickEvent().addHandler(function(clock) {
			var timeOffset = clock.timestamp().timeOffset()
			var minutes = Math.floor(timeOffset / 60)
			var seconds = Math.round(timeOffset % 60)
			timeLabel.innerHTML = (minutes < 10) ? "0" + minutes : minutes
			timeLabel.innerHTML += ":"
			timeLabel.innerHTML += (seconds < 10) ? "0" + seconds : seconds
		})
	}

	// control button
	function initButtonsEventsHandlers(slidesCount) {
		$('#prev_slide').on('click', function() {
			playbackController.gotoPreviousSlide()
			channel.trigger("client-teacher-click", {type: 'PREV_SLIDE'})
		})
		$('#next_slide').on('click', function() {
			playbackController.gotoNextSlide()
			channel.trigger("client-teacher-click", {type: 'NEXT_SLIDE'})
			var slideIndex = $('#slide_index').text()
			if (slideIndex == slidesCount) {
				ClosureSession()
			}
		})
		$('#prev_step').on('click', function() {
			playbackController.gotoPreviousStep()
			channel.trigger("client-teacher-click", {type: 'PREV_STEP'})
			$('#next_step').show()
			$('#close_session').hide()
		})
		$('#next_step').on('click', function() {
			var teacherSlideIndex = $('#slide_index').text()
			playbackController.gotoNextStep()
			channel.trigger("client-teacher-click", {
				type: 'NEXT_STEP',
				teacherSlideIndex: teacherSlideIndex
			})
			var slideIndex = $('#slide_index').text()
			if (slideIndex == slidesCount) {
				ClosureSession()
			}
		})
		$('#gotoFirstSlide').on('click', function() {
			playbackController.gotoFirstSlide(false)
			channel.trigger("client-teacher-click", {type: 'FIRST_SLIDE'})
		})
	}

	$('#sync').on('click', function(){
		var teacherSlideIndex = $('#slide_index').text()
		playbackController.gotoTimestamp(teacherSlideIndex - 1, 0, 0, false)
		channel.trigger("client-teacher-click", {
			type: 'teacher_Slide_Index',
			slide_index: teacherSlideIndex,
			local_count_down: window.localStorage.getItem('LOCAL_COUNT_DOWN')
		})
	})
	
	// 倒计时 1200000
	function sessionCountDown() {
		var min, sec, LOCAL_COUNT_DOWN
		var LOCAL_COUNT_DOWN = window.localStorage.getItem('LOCAL_COUNT_DOWN')
		if (LOCAL_COUNT_DOWN == null || LOCAL_COUNT_DOWN !== 0) {
			var timer = setInterval(function() {
				if (LOCAL_COUNT_DOWN == null) {
					COUNT_DOWN = COUNT_DOWN - 1000
				} else {
					COUNT_DOWN = LOCAL_COUNT_DOWN - 1000
				}
				min = parseInt((COUNT_DOWN / 1000 / 60), 10)
				min = (min < 10) ? ('0' + min) : min
				sec = parseInt((COUNT_DOWN - (min * 60 * 1000)) / 1000, 10)
				sec = (sec < 10) ? ('0' + sec) : sec
				$("#end_time").text(min + "' " + sec + "''")
				LOCAL_COUNT_DOWN = (min * 60 * 1000) + (sec * 1000)
				window.window.localStorage.setItem('LOCAL_COUNT_DOWN', LOCAL_COUNT_DOWN)
				if (parseInt(LOCAL_COUNT_DOWN, 10) == 0) {
					$('#end_time').text('End')
					clearInterval(timer)
				}
			}, 1000)
		} else {
			LOCAL_COUNT_DOWN = localStorage.getItem('LOCAL_COUNT_DOWN')
			if(LOCAL_COUNT_DOWN == 'NaN' || LOCAL_COUNT_DOWN == '0'){
				$('#end_time').text('End')
				localStorage.setItem('LOCAL_COUNT_DOWN', 0)
			}
		}
	}

	// end score 
	$('.pronunciation span').on('click', function(){
		$(this).addClass('active')
		$(this).prevAll('span').addClass('active')
		var last_length = $(this).nextAll('.active').length
		$(this).nextAll('span').removeClass('active')
		var score_length = $(this).parent('.score').children('.active').length
		if (last_length == 0) {
			pronunciation_number = score_length * 0.2
		} else {
			pronunciation_number -= last_length * 0.2
		}
		$('.sorce-number').text(parseFloat(pronunciation_number + usage_number + fluency_number).toFixed(1))
	})
	$('.fluency span').on('click', function(){
		$(this).addClass('active')
		$(this).prevAll('span').addClass('active')
		var last_length = $(this).nextAll('.active').length
		$(this).nextAll('span').removeClass('active')
		var score_length = $(this).parent('.score').children('.active').length
		if (last_length == 0) {
			fluency_number = score_length * 0.3
		} else {
			fluency_number -= last_length * 0.3
		}
		$('.sorce-number').text(parseFloat(pronunciation_number + usage_number + fluency_number).toFixed(1))
	})
	$('.usage span').on('click', function(){
		$(this).addClass('active')
		$(this).prevAll('span').addClass('active')
		var last_length = $(this).nextAll('.active').length
		$(this).nextAll('span').removeClass('active')
		var score_length = $(this).parent('.score').children('.active').length
		if (last_length == 0) {
			usage_number = score_length * 0.5
		} else {
			usage_number -= last_length * 0.5
		}
		$('.sorce-number').text(parseFloat(pronunciation_number + usage_number + fluency_number).toFixed(1))
	})

	// 关闭评分
	$('.close-score-box').on('click', function() {
		$('#Score-box').hide()
	})

	// 创建幻灯片
	window.onload = function() {
		playerInit()
	}
</script>
</body>
</html>
