<!DOCTYPE html>
<html>
  <head>
    <title><%= main %></title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="static/stylesheets/index.css">
		<script>
			window.onload = function() { 
				var neadReload = (typeof JSON.parse(sessionStorage.getItem('log'))) == 'object' ? true : false
				if (neadReload) {
					sessionStorage.setItem('log', Date.parse(new Date()))
					location.reload()
				} else {
					sessionStorage.removeItem('log')
				}
			}
		</script>
  </head>
<body>
<div id="main">
	<iframe id="frame" src="static/curriculum/presentation"></iframe>
	<div class="control-box">
		<div class="container">
			<div id="prev_step"></div>
			<div class="encourage">
				<div id="praise"></div>
				<div id="like"></div>
			</div>			
			<div id="next_step"></div>
			<button id="close_session" style="display: none;">Close Session</button>
		</div>
	</div>
  <img class="praise " src="static/images/praise.gif" alt="">
  <img class="like " src="static/images/like.gif" alt="">
  <div class="control">
		<div class="buttons">
			<button id="gotoFirstSlide">First Slide</button>
			<button id="prev_slide">Prev Slide</button>
			<button id="next_slide">Next Slide</button>		
			<!-- <button id="prev_step">Prev Step</button>
			<button id="next_step">Next Step</button> -->
			<!-- <button id="praise">praise</button>
			<button id="like">like</button> -->
			<button id="end_session" style="display: none;">Closure Session</button>
		</div>
		<!-- <div id="end_time">课程结束倒计时 20' 00''</div> -->
		<div class="log">
			<!-- <p id="time"></p> -->
			<!-- <p id="slideIndex"></p> -->
		</div>
  </div>
  <div id="logger">
		<p>Console</p>
		<table>
			<tbody>
				<tr><td>Slides Count : </td><td id="slideCount"></td></tr>
				<tr><td>Index Page : </td><td id="slide_index"></td></tr>
				<tr><td>Animation Time : </td><td id="time"></td></tr>
				<tr><td>Session Time : </td><td id="end_time"></td></tr>
			</tbody>
		</table>
	</div>
</div>
<script src="http://zeptojs.com/zepto.min.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<!-- Ispring js -->
<script>
	/**
	* 	sessionRequestId=58d1b23d602a4a0001e66f33
	* 	sessionStartAt=1507073590164
	* 	sessionEndAt=1507679587594
	* 	lessonSlug=1072_2932_34582
	// http://localhost:8001/teacher?sessionRequestId=58d1b23d602a4a0001e66ac6&sessionStartAt=1507073590164&sessionEndAt=1507679587594&lessonSlug=1072_2932_34572
	*/
	// DEV Working Space

	var pusher = {}
	var channel;
	var sessionStartAt = window.location.search.match(/sessionStartAt=(\S*)&sessionEndAt/)[1];
	var sessionEndAt = window.location.search.match(/sessionEndAt=(\S*)&lessonSlug/)[1];
	var sessionRequestId = window.location.search.match(/sessionRequestId=(\S*)&sessionStartAt/)[1];
	var lessonSlug = window.location.search.match(/lessonSlug=(\S*)/)[1];

	var PLAY = "播放动画"
	var PAUSE = "暂停动画"
	var COUNT_DOWN = 1200000
	var playbackController
	var prevSlideBtn = document.getElementById("prev_slide")
	var nextSlideBtn = document.getElementById("next_slide")
	var playPrevStepBtn = document.getElementById("prev_step")
	var playNextStepBtn = document.getElementById("next_step")
	var gotoFirstSlide = document.getElementById("gotoFirstSlide")
	var timeLabel = document.getElementById("time")
	var slideIndexLabel = document.getElementById("slideIndex")
	var slidesCount
	var isPlayedPresentation
	var ispringPresentationConnector = {}
	
	$.get('http://192.168.0.102:8769/voip-web-api/pusher/key?lessonSlug='+lessonSlug+'&sessionRequestId='+sessionRequestId, function(res){
		var status = res.status
		if (status === 200) { 
			pusher = res.data
			var pusherKey = res.data.pusherKey
			var cluster = res.data.cluster
			var channelName = res.data.channelName

			Pusher.logToConsole = true;
			var pusher = new Pusher(pusherKey, {
				cluster: cluster,
				encrypted: true,
				authTransport: 'jsonp',
				authEndpoint: 'http://192.168.0.102:8769/voip-web-api/pusher/auth'
			});
			channel = pusher.subscribe(channelName)
			
			// $.post('http://192.168.0.102:8769/voip-web-api/session/start-session/'+sessionRequestId+'/from/'+sessionStartAt+'/to/'+sessionEndAt+'/slug/'+lessonSlug, function(res){
			$.post('http://192.168.0.102:8769/voip-web-api/session/start-session/'+sessionRequestId+'/from/'+sessionStartAt+'/to/'+sessionEndAt+'/slug/'+'1072_2932_34572', function(res){
				if (res.status === 200) {
					return
				}
			})
			
			playerInit()
		} else if(status === 400) {
			$('#frame').attr('src', '')
			localStorage.clear()
			location.replace('/sessionend')
		}
	})

	// 结束会话
	function ClosureSession() {
		$('#next_step').hide()
		$('#close_session').show()
	}
	$('#close_session').on('click', function(){
		$.post('http://192.168.0.102:8769/voip-web-api/session/complete-session/'+sessionRequestId+'/recorded-time/'+sessionStartAt, function(res){
			console.log('结束回话')
			localStorage.clear()
			location.replace('/sessionend')
		})
	})

	// praise 点赞
	$('#praise').on('click', function() {
		channel.trigger("client-teacher-click", 'PRAISE')
		$('.praise').addClass('animated bounceIn')
		setTimeout(function() {
			$('.praise').removeClass('bounceIn').addClass('bounceOut')
		},1000)
		setTimeout(function() {
			$('.praise').removeClass('animated bounceOut')
		},1500)
	})
	// 喜欢 like
	$('#like').on('click', function() {
		channel.trigger("client-teacher-click", 'LIKE')
		$('.like').addClass('animated bounceIn')
		setTimeout(function() {
			$('.like').removeClass('bounceIn').addClass('bounceOut')
		},1000)
		setTimeout(function() {
			$('.like').removeClass('animated bounceOut')
		},1500)
	})

	// player init
	function playerInit() { 
		ispringPresentationConnector.register = function(player) {
			$('#end_time').text("Running...")
			var presentation = player.presentation()
			slidesCount = presentation.slides().count()
			playbackController = player.view().playbackController()
			initPlaybackControllerEventsHandlers()
			initButtonsEventsHandlers(slidesCount)
			sessionCountDown()
			player.view().playbackController().slideChangeEvent().addHandler(function(slideIndex) {
				//logger("Index Page : " + slideIndex)
			})
		}
	}
	
	// player event
	// Player-SDK/documentation/js-api/ispring.presenter.player.IPresentationPlaybackController.html#playbackState
	function initPlaybackControllerEventsHandlers() {
		playbackController.slideChangeEvent().addHandler(function(slideIndex) {
			$('#slide_index').text(slideIndex + 1)
			$('#slideCount').text(slidesCount)
		})
	
		playbackController.clock().tickEvent().addHandler(function(clock) {
			var timeOffset = clock.timestamp().timeOffset()
			var minutes = Math.floor(timeOffset / 60)
			var seconds = Math.round(timeOffset % 60)
			timeLabel.innerHTML = (minutes < 10) ? "0" + minutes: minutes
			timeLabel.innerHTML += ":"
			timeLabel.innerHTML += (seconds < 10) ? "0" + seconds: seconds
		})
	}
	// control button
	function initButtonsEventsHandlers(slidesCount) {
		prevSlideBtn.onclick = function() {
			playbackController.gotoPreviousSlide()
			channel.trigger("client-teacher-click", 'PREV_SLIDE')
		}
		nextSlideBtn.onclick = function() {
			playbackController.gotoNextSlide()
			channel.trigger("client-teacher-click", 'NEXT_SLIDE')
			var slideIndex = $('#slide_index').text()
			if (slideIndex == slidesCount) {
				ClosureSession()
			}
		}
		playPrevStepBtn.onclick = function() {
			playbackController.gotoPreviousStep()
			channel.trigger("client-teacher-click", 'PREV_STEP')
		}
		playNextStepBtn.onclick = function() {
			playbackController.gotoNextStep()
			channel.trigger("client-teacher-click", 'NEXT_STEP')
			var slideIndex = $('#slide_index').text()
			if (slideIndex == slidesCount) {
				ClosureSession()
			}
		}
		gotoFirstSlide.onclick = function() {
			playbackController.gotoFirstSlide(false)
			channel.trigger("client-teacher-click", 'FIRST_SLIDE')
		}
	}

	// debug logger 
	function logger(text) {
		// var logger = document.getElementById("logger")
		// logger.innerHTML = logger.innerHTML + text + '<br>'
		//logger.innerHTML =  text 
	}

	// 倒计时 1200000
	function sessionCountDown() {
		var min, sec, LOCAL_COUNT_DOWN
		var timer = setInterval(function() {
			var neadGet = (typeof localStorage.getItem('LOCAL_COUNT_DOWN')) == 'object' ? true : false
			if (neadGet) {
				COUNT_DOWN = COUNT_DOWN - 1000
			} else {
				COUNT_DOWN = parseInt(localStorage.getItem('LOCAL_COUNT_DOWN'), 10)
				COUNT_DOWN = COUNT_DOWN - 1000
			}
			min = parseInt((COUNT_DOWN / 1000 / 60), 10)
			sec = parseInt((COUNT_DOWN - (min * 60 * 1000)) / 1000, 10)
			document.getElementById("end_time").innerHTML = min + "' " + sec + "''"
			LOCAL_COUNT_DOWN = (min * 60 * 1000) + (sec * 1000)
			window.localStorage.setItem('LOCAL_COUNT_DOWN', LOCAL_COUNT_DOWN)
			if (sec < 0) {
				document.getElementById("end_time").innerHTML = "End"
				clearInterval(timer)
			}
		}, 1000)
	}
</script>
</body>
</html>
