<!DOCTYPE html>
<html>
  <head>
    <title><%= main %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include header  %>
    <h1><%= main %></h1>
    <iframe id="frame" src="curriculum/presentation/index.html"></iframe>
    <% include footer  %>
  </body>
</html>
